body {
  background:#111;
  color:white;
  text-align:center;
  font-family:Segoe UI;
}

img {
  border:3px solid #444;
  border-radius:12px;
  margin-top:10px;
}

button {
  padding:10px 18px;
  margin:6px;
  font-size:16px;
}
